*
{
    padding: 0;
    margin: 0;
    background-color: darkgrey;
}
button
{
    padding: 7px 40px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    box-shadow: none;

    transition: background-color, color, box-shadow, 0.2s ease 0s;
}
button:hover
{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 7px black;
}

#controllelement
{
    display: flex;
    justify-content: right;
}
#users, #userfullinfo, #postfullinfo
{
    margin: 15px auto;
}
#users
{
    width: 80vw;
    padding-left: 10%;
}
#userfullinfo
{
    width: 20vw;
}
#userfullinfo, #postfullinfo
{
    font-size: 18px;
}
#biography > p
{
    margin-bottom: 5px;
}
#postfullinfo
{
    width: 50vw;
}
#posttitle
{
    margin-bottom: 100px;
}

.userinfo
{
    display: inline-block;
    border: 5px ridge white;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 2px 2px 5px black;

    transition: box-shadow 0.2s ease-in-out 0s;
}
.userinfo:hover
{
    box-shadow: 5px 5px 8px;
}
.userinfo > p
{
    margin: 10px;
}
.userinfo, .userinfo > p, .userinfo > p > b
{
    background-color: #A8A8A8;
}
.postheader
{
    cursor: pointer;
    margin-bottom: 15px;
}
.comment
{
    border: 5px ridge;
}