*
{
    padding: 0;
    margin: 0;
    background-color: darkgrey;
}
button
{
    padding: 7px 40px;
    margin: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    box-shadow: none;

    transition: background-color, color, box-shadow, 0.2s ease 0s;
}
button:hover
{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 7px black;
}

#controllelement
{
    display: flex;
    justify-content: right;
}
#users, #userfullinfo, #postfullinfo, #newsfeed
{
    margin: 15px auto;
}
#users, #newsfeed
{
    width: 80vw;
}
#userfullinfo
{
    width: 20vw;
}
#userfullinfo, #postfullinfo
{
    font-size: 18px;
}
#biography
{
    width: 13vw;
    border: 4px ridge;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
#biography, #biography > p, #biography > p > b
{
    background-color: rgb(202, 201, 201);
}
#biography > p
{
    margin-bottom: 5px;
}
#postfullinfo
{
    width: 50vw;
}
#posttitle
{
    border: 3px double;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 100px;
}

.userinfo
{
    display: inline-block;
    border: 5px ridge white;
    border-radius: 15px;
    margin: 10px;
}
.postinfo
{
    border: 5px groove gray;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
}
.postinfo, .postinfo > p, .postinfo > p > b, .userinfo, .userinfo > p, .userinfo > p > b, .comment,
.comment > p, .comment > p > b, #posttitle, #posttitle > p, #posttitle > p > b
{
    background-color: rgb(219, 219, 219);
}
.userinfo, .postinfo
{
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    
    transition: box-shadow 0.2s ease-out 0s;
}
.userinfo:hover, .postinfo:hover
{
    box-shadow: 5px 5px 8px;
}
.userinfo > p
{
    margin: 10px;
}
.postheader,.authorname
{
    cursor: pointer;
    margin-bottom: 15px;
}
.comment
{
    border: 5px ridge;
    border-radius: 20px;
    padding: 10px;
}